<div>
  <link href="./services.css" rel="stylesheet" />
  <div id="services" class="services-services">
    <div class="services-service-card">
      <div class="services-card-content">
        <h3 class="services-text bigCard-Heading"><span>Service name</span></h3>
        <span class="services-text1 card-Text">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
            odio. Praesent libero.
          </span>
        </span>
        <button class="services-button button anchor">
          <span>READ MORE</span>
        </button>
      </div>
    </div>
    <div class="services-service-card1">
      <div class="services-card-content1">
        <h3 class="services-text2 bigCard-Heading">
          <span>Service name</span>
        </h3>
        <span class="services-text3 card-Text">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
            odio. Praesent libero.
          </span>
        </span>
        <button class="services-button1 button anchor">
          <span>READ MORE</span>
        </button>
      </div>
    </div>
    <div class="services-service-card2">
      <div class="services-card-content2">
        <h3 class="services-text4 bigCard-Heading">
          <span>Service name</span>
        </h3>
        <span class="services-text5 card-Text">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
            odio. Praesent libero.
          </span>
        </span>
        <button class="services-button2 anchor button">
          <span>READ MORE</span>
        </button>
      </div>
    </div>
    <div class="services-service-card3">
      <div class="services-card-content3">
        <h3 class="services-text6 bigCard-Heading">
          <span>Service name</span>
        </h3>
        <span class="services-text7 card-Text">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
            odio. Praesent libero.
          </span>
        </span>
        <button class="services-button3 button anchor">
          <span>READ MORE</span>
        </button>
      </div>
    </div>
  </div>
</div>
